<main class="prof-main" role="main">
  <div class="main-prof">
    <header class="prof-header">
      <div class="header-prof-left">
        <div class="header-prof-pic-1">
          <div class="header-prof-pic-2">プロフ写真が来る</div>
        </div>
      </div>
      <section class="header-prof-right">
        <div class="prof-right-top">
          <%= link_to "ユーザー名",,class:"prof-username"%>

          <%= link_to 'プロフィールの編集', ,class:"prof-edit-btn"%>

          </div>
          <ul class="prof-status">
            <li class="prof-status-1">
              <span class="prof-status-tweet">
              "投稿"
              <span class="prof-stats-tweetnum">投稿数が入る</span>
              "件"
              </span>
            </li>
            <li class="prof-status-1">
              <a class="prof-status-tweet" href="" tabindex="0">
              "フォロワー"
                <span class="prof-stats-tweetnum">フォロワーの数字</span>
                "人"
              </a>
            </li>
            <li class="prof-status-1">
              <a class="prof-status-tweet" href="" tabindex="0">
                "フォロー中"
                <span class="prof-status-tweetnum">フォローの数字</span>
                  "人"
              </a>
            </li>
          </ul>
          <div class="prof-text">
            <h1 class="prof-name">プロフで決めたnameが来る</h1>
            <br>
            <span>
            プロフ項目
            <br>
            プロフ項目
            <br>
            プロフ項目
            <br>
            プロフテキスト
            </span>

          </div>

      </section>
    </header>
  </div>

</main>


<nav class='prof-nav'>
  <div class='profnav-1'>
    <div class='profnav-2'>
      <div class='profnav-title'>文字はFURIMATCHで押すとprofilesのindexにくるようにする</div>
      <div class='serch-nav'>
        <input class="serch-nav-btn" type="text" autocapitalize="none" placeholder="検索" value> 
        <div class="" role="button" tabindex="0">
          <div class="">
            <span class="serch-nav-icon"></span>
          </div>
        </div>
      </div>
      <div class='prof-contents-nav'>
        <div class="prof-contents-nav-ul">
          <div class="prof-contents-nav-li">
            <div>アイコンにURLパスを含ませて表示させる</div>
          </div>
          <div class="prof-contents-nav-li">
            <div>アイコンにURLパスを含ませて表示させる</div>
          </div>
          <div class="prof-contents-nav-li">
            <div>アイコンにURLパスを含ませて表示させる</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<footer class="prof-footer" role="contentinfo">
  <div class="prof-footer-large">
    <div class="prof-footer-top">
      <div class="prof-footer-in">
        <div class="prof-footer-content">
          文字にURLパスを当てて表示させる
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom-content">
        <div class="footer-bottom-list"></div>
      </div>
    </div>
  </div>
</footer>









