/* 下部広告部分 */
/* items/index.htmlの広告cssを所々使いまわしています。 */

.ad-footer-contents {
  width: 100vw;
  background-image: image-url('furima-footer.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.ad-footer-title {
  font-size: 6vh;
  margin-bottom: 2vh;
  color: azure;
}

.ad-footer-explain {
  font-size: 6vh;
  line-height: 150px;
  color: blanchedalmond;
  text-align: center;
}

/* //下部広告部分 */

.footer {
  width: 100%;
  padding: 5vh 0;
  color:azure;
  background-color: maroon;
  text-align: center;
}

.footer-contents {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
  margin-right: 50px;
}

.furima-details {
  margin: 0 2vw;
}

.footer-content-head {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-link {
  color: #FFF;
  font-size: 15px;
  line-height: 30px;
}

.logo-white {
  width: 100%;
  vertical-align: bottom;
}

.footer>p {
  font-size: 35px;
  color: burlywood;
}