* {
  box-sizing: border-box;
}


.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}



.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.furima-icon {
  width: 200px;
  margin-right: 100px;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color:maroon;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.globa-nav {
  display: flex;
  height: 50px;
  width: 100%;
}

.nav-nav {
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

.nav-li {
  display: table-cell;
  vertical-align: middle;
  padding: 45px 20px;
}

.nav-list{
  color:darkolivegreen;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
}
.header-nav{
  display: flex;
  align-items: center;
  justify-content: center;
}




.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

