@media(max-width:1024px){
  img{
    width: 100%;
  }
  .apple-btn,.google-btn{
    width: auto;
  }
  .store-btn{
    padding-left: 100px;
  }
  .service-title{
    font-size: 5.4vh;
  }
  .reason-lists{
    text-align: center;
    justify-content: space-around;
  }
  .reason-lists>.list{
    width: 28%;
  }
  .service-explain{
    font-size: 3vh;
  }
  
  .feature-lists>.list{
    width: 28%;
    text-align: center;
  }
  .title-contents{
    width: 100%;
  }
  
  .ad-footer-explain{
    margin-bottom: 32px;
    text-align: center;
  }

}


@media(max-width:580px){
  img{
    width: 100%;
  }

  .top-page-header{
    width: 100vh;
    display: flex;
    flex-direction: column;
  }
  .search-form{
    width: 61vh;
    height: 5vh;
    display: flex;
    margin-bottom: 13px;
    margin-right: 10px;

  }
  .search-form>.input-box{
    width: 100%;
    height: 5vh;
  }
  .service-title{
    font-size: 5.2vh;
  }
  .search-bar-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
  }

  .furima-icon{
    width: 141px;
    margin-left: -40px;
  }
  .globa-nav {
    display: flex;
    height: 89px;
    width: 100%;
  }
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .nav-nav {
    table-layout: fixed;
    text-align: center;
    width: 100%;
    display: none;
    margin-bottom: 48px;
  }
  .nav-li {
    display:none;
    height: 50px;
  }
  .nav-list{
    color: dimgray;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
  }
  .store-btn{
    display: contents;
    margin-top: 24px;
  }
  .reason-lists>.list {
    display: contents;
  }
  .reason-list-description {
    margin-bottom: 14px;
  }
  .reason-list-number{
    position: relative;
    left: -102px;
  }
  .ad-title {
    font-size: 5vh;
  }
  .feature-contents>.title{
    font-size: 2.5vh;
  }
  .feature-contents{
    padding-bottom: -1px;
  }
  .feature-lists>.list{
    width: 100%;
  }
  .feature-list-text{
    font-size: 20px;
  }
  .feature-list-description{
    margin-bottom: 17px;
  }
  .item-contents>.title{
    font-size: 4vh;
  }
  .item-lists>.list{
    width:auto;
  }
  .ad-footer-explain{
    font-size: 5vh;
    line-height: 56px;
    margin-top: 225px;
  }
  .logo-white{
    width: 46vh;
  }
  .footer-contents {
    margin-right: 20px;
    margin-bottom: 5vh;
    margin-left: 55px;
  }
  .footer-content-head{
    font-size: 17px;
    margin-bottom: 10px;
  }
  .footer-link{
    font-size: 10px;
    line-height: 28px;
  }
  .footer>p{
    font-size: 14px;
  }
}


